* {
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cda05c;
    color: white;
    border-radius: 4px;
    padding: 5px;
} 
header h2 {
    padding: 4px 10px;
    font-size: 22px; 
}   
header .head-right {
    display: flex;
}
header .head-right .theme button {
    font-size: 14px;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    color: #cda05c;
    background-color: white;
    margin-top: 4px;
    cursor: pointer;
    font-weight: bold;
}
header ul {
    display: flex;
    gap: 10px;
    padding-right: 5%;
    list-style: none;
}   
header ul li {
    padding: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}
.form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem .5rem;
}
.form form {
    padding: 2rem;
    border-radius: 6px;
    padding: 1rem;
    background-color: rgb(0, 153, 255);
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
form .inputs {
    width: 70%;
}
form .buttons {
    width: 20%;
}
.form form input {
    border-radius: 5px;
    padding: .5rem;
    width: 100%;
    border: none;
    outline: none;
    margin: .5rem;
    padding: 1rem;
}
form .buttons button {
    padding: .5rem;
    border-radius: 8px;
    color: white;
    background-color: indianred;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
    width: 90%;
    margin: .5rem;
}
table { 
    text-align: center;
    position: relative;
    width: 80%;
    left: 9%;
    max-width: 100%;
}
table th,
table td {
    padding: 10px;
    font-size: 17px;
    color: white;
}
table th {
    background-color: indianred;
}
table td {
    background-color: green;
}
    @media (max-width:767px) {
        header {
            width: 100%;
            max-width: 100%;
        }
        header ul {
            gap: 8px;
        }
        header ul li {
            padding: 1px;
            letter-spacing: 0;
        }
        header .head-right .theme button {
            font-size: 13px;
            margin-left: -3px;
        }
        .form form {
            width: 95%;
        }
        form .inputs {
        width: 90%; 
        }
        form .buttons {
            width: 85%;
            margin-left: 8%;
        }
        table {
            left: 3%;
        }
        table th,
        table td {
        padding: 9px;
        font-size: 12px;
        color: white;
    }
}